@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Contact Us";
}

<section class="contact-page">
    <!-- Breadcrumb Start -->
    <div class="breadcrumb-area bg-peach position-relative z-1">
        <img src="~/images/br-line-shape-2.png" alt="Shape" class="br-line-shape position-absolute z-n1">
        <img src="~/images/br-shape-1.png" alt="Shape" class="br-shape-one move-right position-absolute z-n1">
        <img src="~/images/br-shape-2.png" alt="Shape" class="br-shape-two move-left position-absolute z-n1">
        <img src="~/images/br-bg-shape.png" alt="Shape" class="br-bg-shape position-absolute bottom-0 start-0">
        <div class="container text-center">
            <h2 class="section-title style-two">Contact</h2>
            <ul class="br-menu list-unstyled mb-0">
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li>Contact</li>
            </ul>
        </div>
    </div>
    <!-- Breadcrumb End -->
    <!-- Contact Section Start -->
    <div class="contact-section ptb-120">
        <div class="container-fluid style-one">
            <div class="row align-items-center">
                <div class="col-xl-8 col-lg-8">
                    <div class="contact-box round-10 mb-md-30">
                        <h2 class="section-title style-three text-center px-xxl-5 mx-xxl-3 mb-25">Have Questions? Get In Touch</h2>
                        <form method="post" class="form-wrapper">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group mb-20">
                                        <input type="text" placeholder="Name" class="bg-white text-para fw-bold w-100 border-0 round-5" />
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group mb-20">
                                        <input type="email" placeholder="Email" class="bg-white text-para fw-bold w-100 border-0 round-5" />
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group mb-20">
                                        <input type="tel" placeholder="Phone" class="bg-white text-para w-100 fw-bold border-0 round-5" />
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group mb-20">
                                        <input type="text" placeholder="Subject" class="bg-white text-para w-100 fw-bold border-0 round-5" />
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group mb-25">
                                        <textarea class="bg-white text-para w-100 border-0 round-5 resize-0" placeholder="Message"></textarea>
                                    </div>
                                </div>
                                <div class="col-12 text-center">
                                    <button type="submit" class="btn style-two">Send Message</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="col-xl-4 col-lg-4 ps-xxl-5">
                    <div class="contact-card-wrap">
                        <div class="contact-card d-flex flex-wrap align-items-center round-10 transition">
                            <div class="contact-icon d-flex flex-column align-items-center justify-content-center rounded-circle bg-white"><i class="ri-phone-line"></i></div>
                            <div class="contact-info">
                                <h6 class="d-block fs-20 fw-bold text-title mb-15">Phone:</h6>
                                <a href="tel:+918128678908" class="d-block fs-xxl-18 fw-bold text-para hover-text-secondary">+91 81286 78908</a>
                            </div>
                        </div>

                        <div class="contact-card d-flex flex-wrap align-items-center round-10 transition">
                            <div class="contact-icon d-flex flex-column align-items-center justify-content-center rounded-circle bg-white"><i class="ri-mail-send-line"></i></div>
                            <div class="contact-info">
                                <h6 class="d-block fs-20 fw-bold text-title mb-15">Email:</h6>
                                <a href="mailto:info@sparkviewclubandresorts.in" class="d-block fs-xxl-18 fw-bold text-para hover-text-secondary">info@sparkviewclubandresorts.in</a>
                                <a href="mailto:reservation@sparkviewclubandresorts.in" class="d-block fs-xxl-18 fw-bold text-para hover-text-secondary">reservation@sparkviewclubandresorts.in</a>
                            </div>
                        </div>

                        <div class="contact-card d-flex flex-wrap align-items-center round-10 transition">
                            <div class="contact-icon d-flex flex-column align-items-center justify-content-center rounded-circle bg-white"><i class="ri-map-pin-line"></i></div>
                            <div class="contact-info">
                                <h6 class="d-block fs-20 fw-bold text-title mb-15">Address:</h6>
                                <p class="fw-semibold text-title mb-0">B-702, Sivanta One The Business Park, Opp. Congress Bhavan, Paldi, Ahmedabad</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Map Section -->
    <div class="comp-map style-two">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3672.1339799048487!2d72.56560357509166!3d23.018852379176433!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e845579096171%3A0x32a54e02443bf285!2sShivanta%20One%20Business%20Pk%20Rd%2C%20Pritam%20Nagar%2C%20Paldi%2C%20Ahmedabad%2C%20Gujarat%20380006!5e0!3m2!1sen!2sin!4v1762625987712!5m2!1sen!2sin" class="w-100 h-100" loading="lazy"></iframe>
    </div>

</section>
