<div class="sidebar-wrap offcanvas bg_primary offcanvas-end border-0" tabindex="-1" id="sidebar-area">
    <div class="offcanvas-header d-flex flex-wrap align-items-center justify-content-between">
        <a href="#" class="logo d-block mb-10">
            <img src="~/images/logo-white.png" alt="Logo">
        </a>
        <button type="button" class="close-btn border-0 text-title d-flex flex-column align-items-center justify-content-center rounded-circle p-0" data-bs-dismiss="offcanvas" aria-label="Close">
            <i class="ri-close-line"></i>
        </button>
    </div>
    <div class="offcanvas-body position-relative z-1">
        <p class="comp-desc text-offwhite">Spark View is an avid traveler who enjoys exploring new destinations and immersing in different cultures. Her passion for travel began at a young age, and over the years, she has visited many countries, each offering  and adventures.</p>
        <h3 class="fs-20 fw-bold text-white mb-20">Address</h3>
        <ul class="contact-info list-unstyled mb-35">
            <li class="d-flex flex-wrap align-items-center"><span class="d-flex flex-column align-items-center justify-content-center rounded-circle"><img src="~/images/phone-white.svg" alt="Icon"></span><a href="tel:8002162020" class="fw-bold text-offwhite">(800) 216 2020</a></li>
            <li class="d-flex flex-wrap align-items-center"><span class="d-flex flex-column align-items-center justify-content-center rounded-circle"><img src="~/images/mail-white.svg" alt="Icon"></span><a href="/cdn-cgi/l/email-protection#076f626b6b684773756e646e662964686a" class="fw-bold text-offwhite"><span class="__cf_email__" data-cfemail="6c04090000032c181e050f050d420f0301">[email protected]</span></a></li>
            <li class="d-flex flex-wrap align-items-center text-offwhite"><span class="d-flex flex-column align-items-center justify-content-center rounded-circle"><img src="~/images/map-white.svg" alt="Icon"></span><p class="text-offwhite mb-0">No. 12, Ribon Building, Walse street, Australia</p></li>
        </ul>
        <div class="comp-map mb-45">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3151.8385385572983!2d144.95358331584498!3d-37.81725074201705!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad65d4dd5a05d97%3A0x3e64f855a564844d!2s121%20King%20St%2C%20Melbourne%20VIC%203000%2C%20Australia!5e0!3m2!1sen!2sbd!4v1612419490850!5m2!1sen!2sbd">
            </iframe>
        </div>
        <div class="social-share d-flex flex-wrap align-items-center">
            <span class="fw-semibold text-white me-2">Follow Us:</span>
            <ul class="social-profile style-one list-unstyled mb-0">
                <li><a href="https://www.facebook.com/" target="_blank" class="d-flex flex-column align-items-center justify-content-center"><i class="ri-facebook-fill"></i></a></li>
                <li><a href="https://x.com/?lang=en" target="_blank" class="d-flex flex-column align-items-center justify-content-center"><i class="ri-twitter-x-line"></i></a></li>
                <li><a href="https://www.linkedin.com/" target="_blank" class="d-flex flex-column align-items-center justify-content-center"><i class="ri-linkedin-fill"></i></a></li>
                <li><a href="https://www.instagram.com/" target="_blank" class="d-flex flex-column align-items-center justify-content-center"><i class="ri-instagram-line"></i></a></li>
            </ul>
        </div>
    </div>
</div>
<!-- Sidebar End-->
<!-- Breadcrumb section Start -->
<div class="breadcrumb-area bg-peach position-relative z-1">
    <img src="~/images/br-line-shape-2.png" alt="Shape" class="br-line-shape position-absolute z-n1">
    <img src="~/images/br-shape-1.png" alt="Shape" class="br-shape-one move-right position-absolute z-n1">
    <img src="~/images/br-shape-2.png" alt="Shape" class="br-shape-two move-left position-absolute z-n1">
    <img src="~/images/br-bg-shape.png" alt="Shape" class="br-bg-shape position-absolute bottom-0 start-0">
    <div class="container text-center">
        <h2 class="section-title style-two">Pricing Plan</h2>
        <ul class="br-menu list-unstyled mb-0">
            <li><a>Home</a></li>
            <li>Membership Plan</li>
        </ul>
    </div>
</div>
<!-- Breadcrumb section End -->
<!-- Pricing Plan Section Start -->
<div class="container style-one pt-120 pb-90">
    <div class="row">
        <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2">
            <h2 class="section-title style-one text-center mb-50">Discover Your Perfect Journey</h2>
        </div>
    </div>
    <div class="row justify-content-center gx-xxl-25">
        <div class="col-xl-4 col-md-6">
            <div class="pricing-card style-one transition mb-30">
                <h5 class="fs-24 text-center fw-bold mb-0 transition">Basic <br> Plan</h5>
                <h2 class="price-tag text-center text_primary transition"><span>₹</span>99,999</h2>
                <h6 class="text-center transition">Validity for 3 years</h6>
                <ul class="feature-list list-unstyled d-inline-block">
                    <li class="position-relative fw-medium font-secondary d-flex flex-wrap align-items-center"><span class="d-flex flex-column align-items-center justify-content-center rounded-circle position-relative bg-white transition"><img src="~/images/check.svg" alt="Icon"></span>Only India</li>
                    <li class="position-relative fw-medium font-secondary d-flex flex-wrap align-items-center"><span class="d-flex flex-column align-items-center justify-content-center rounded-circle position-relative bg-white transition"><img src="~/images/check.svg" alt="Icon"></span>Every Year 6N 7D</li>
                    <li class="position-relative fw-medium font-secondary d-flex flex-wrap align-items-center"><span class="d-flex flex-column align-items-center justify-content-center rounded-circle position-relative bg-white transition"><img src="~/images/check.svg" alt="Icon"></span>Only Accommodation</li>
                    <li class="position-relative fw-medium font-secondary d-flex flex-wrap align-items-center"><span class="d-flex flex-column align-items-center justify-content-center rounded-circle position-relative bg-white transition"><img src="~/images/check.svg" alt="Icon"></span>4 Star hotels</li>
                    <!-- <li class="position-relative fw-medium font-secondary d-flex flex-wrap align-items-center"><span class="d-flex flex-column align-items-center justify-content-center rounded-circle position-relative bg-white transition"><img src="~/images/check.svg" alt="Icon"></span></li> -->
                </ul>
                <img src="~/images/down-large-arrow.svg" alt="Icon" class="down-arrow d-block mx-auto">
                <a href="#" class="btn style-two text-center">Subscribe Now</a>
            </div>
        </div>
        <div class="col-xl-4 col-md-6">
            <div class="pricing-card style-one transition mb-30">
                <h5 class="fs-24 text-center fw-bold mb-0 transition">Premium  <br> plans</h5>
                <h2 class="price-tag text-center text_primary transition"><span>₹</span>1,50,000</h2>
                <h6 class="text-center transition">Valid for 5 Years</h6>
                <ul class="feature-list list-unstyled d-inline-block">
                    <li class="position-relative fw-medium font-secondary d-flex flex-wrap align-items-center"><span class="d-flex flex-column align-items-center justify-content-center rounded-circle position-relative bg-white transition"><img src="~/images/check.svg" alt="Icon"></span>India + Asian Countries</li>
                    <li class="position-relative fw-medium font-secondary d-flex flex-wrap align-items-center"><span class="d-flex flex-column align-items-center justify-content-center rounded-circle position-relative bg-white transition"><img src="~/images/check.svg" alt="Icon"></span>Every Year 6N 7D</li>
                    <li class="position-relative fw-medium font-secondary d-flex flex-wrap align-items-center"><span class="d-flex flex-column align-items-center justify-content-center rounded-circle position-relative bg-white transition"><img src="~/images/check.svg" alt="Icon"></span> Only Accommodation</li>
                    <li class="position-relative fw-medium font-secondary d-flex flex-wrap align-items-center"><span class="d-flex flex-column align-items-center justify-content-center rounded-circle position-relative bg-white transition"><img src="~/images/check.svg" alt="Icon"></span> 4 Star properties</li>

                </ul>
                <img src="~/images/down-large-arrow.svg" alt="Icon" class="down-arrow d-block mx-auto">
                <a href="#" class="btn style-two text-center">Subscribe Now</a>
            </div>
        </div>
        <div class="col-xl-4 col-md-6">
            <div class="pricing-card style-one transition mb-30">
                <h5 class="fs-24 text-center fw-bold mb-0 transition">ULTIMATE <br> Plan</h5>
                <h2 class="price-tag text-center text_primary transition"><span>₹</span>3,50,000</h2>
                <h6 class="text-center transition">Valid for 10 Years</h6>
                <ul class="feature-list list-unstyled d-inline-block">
                    <li class="position-relative fw-medium font-secondary d-flex flex-wrap align-items-center"><span class="d-flex flex-column align-items-center justify-content-center rounded-circle position-relative bg-white transition"><img src="~/images/check.svg" alt="Icon"></span>India + Asian Countries</li>
                    <li class="position-relative fw-medium font-secondary d-flex flex-wrap align-items-center"><span class="d-flex flex-column align-items-center justify-content-center rounded-circle position-relative bg-white transition"><img src="~/images/check.svg" alt="Icon"></span>Every Year 6N 7D</li>
                    <li class="position-relative fw-medium font-secondary d-flex flex-wrap align-items-center"><span class="d-flex flex-column align-items-center justify-content-center rounded-circle position-relative bg-white transition"><img src="~/images/check.svg" alt="Icon"></span>Only Accommodation</li>
                    <li class="position-relative fw-medium font-secondary d-flex flex-wrap align-items-center"><span class="d-flex flex-column align-items-center justify-content-center rounded-circle position-relative bg-white transition"><img src="~/images/check.svg" alt="Icon"></span> 4 Star properties</li>

                </ul>
                <img src="~/images/down-large-arrow.svg" alt="Icon" class="down-arrow d-block mx-auto">
                <a href="#" class="btn style-two text-center">Subscribe Now</a>
            </div>
        </div>
    </div>
</div>
<!-- Pricing Plan Section End -->
<!-- Feature Section Start -->
<div class="feature-area style-one pb-120">
    <div class="container-fluid style-one">
        <div class="row align-items-center">
            <div class="col-xxl-7 col-lg-6 pe-xxl-0 mb-md-30">
                <div class="row align-items-center">
                    <div class="col-lg-4 col-4">
                        <div class="feature-img-one mb-25">
                            <img src="https://images.unsplash.com/photo-1660885420316-914e6633e5c9?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=870" alt="Image">
                        </div>
                        <div class="feature-img-two">
                            <img src="~/images/feature-img-8.jpg" alt="Image">
                        </div>
                    </div>
                    <div class="col-lg-8 col-8">
                        <div class="feature-img-three round-5">
                            <img src="https://images.unsplash.com/photo-1719920068200-aa7e79f02f7d?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=774" alt="Image" class="round-5">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-5 col-lg-6 ps-xl-4">
                <div class="feature-content">
                    <h2 class="section-title style-one mb-25">Sometimes, all you need is a breath of fresh air and a new view</h2>
                    <ul class="feature-list style-two list-unstyled">
                        <li class="fs-xxl-18 round-5 fw-bold text-title"><img src="~/images/check-orange.svg" alt="Icon">Trust And Safety</li>
                        <li class="fs-xxl-18 round-5 fw-bold text-title"><img src="~/images/check-orange.svg" alt="Icon">Best Price Guarantee</li>
                        <li class="fs-xxl-18 round-5 fw-bold text-title"><img src="~/images/check-orange.svg" alt="Icon">Easy & Quick Booking</li>
                        <li class="fs-xxl-18 round-5 fw-bold text-title"><img src="~/images/check-orange.svg" alt="Icon">Best Travel Agents</li>
                    </ul>
                    <h6 class="fs-20 fw-bold mb-20">A change of scenery brings new energy</h6>
                    <p class="mb-30 fw-bold">Whether it’s a peaceful walk in the park or an adventure into the wild, the world outside reminds us how beautiful it feels to just breathe</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Feature Section End -->
