
<!-- Breadcrumb section Start -->
<div class="breadcrumb-area bg-peach position-relative z-1">
    <img src="~/images/br-line-shape-2.png" alt="Shape" class="br-line-shape position-absolute z-n1">
    <img src="~/images/br-shape-1.png" alt="Shape" class="br-shape-one move-right position-absolute z-n1">
    <img src="~/images/br-shape-2.png" alt="Shape" class="br-shape-two move-left position-absolute z-n1">
    <img src="~/images/br-bg-shape.png" alt="Shape" class="br-bg-shape position-absolute bottom-0 start-0">
    <div class="container text-center">
        <h2 class="section-title style-two">Booking</h2>
        <ul class="br-menu list-unstyled mb-0">
            <li><a href="#">Home</a></li>
            <li>Booking</li>
        </ul>
    </div>
</div>
<!-- Breadcrumb section End -->
<!-- Booking Section Start -->
<div class="container style-two ptb-120">
    <div class="booking-box round-10 position-relative z-1 ptb-120">
        <img src="~/images/shape-17.png" alt="" class="section-shape position-absolute bottom-0 end-0">
        <h2 class="section-title style-one text-center mb-60">Make Appointment</h2>
        <div class="row">
            <div class="col-xl-6 col-lg-8 col-md-8 pe-xxl-0">
                <form action="#" class="booking-form">
                    <div class="form-group position-relative mb-20">
                        <input type="text" class="w-100 bg-white text-para fw-bold outline-0" placeholder="Name">
                        <img src="~/images/user-gray.svg" alt="Icon">
                    </div>
                    <div class="form-group position-relative mb-20">
                        <input type="number" class="w-100 bg-white text-para fw-bold outline-0" placeholder="Phone">
                        <img src="~/images/phone-gray.svg" alt="Icon">
                    </div>
                    <div class="form-group position-relative mb-20">
                        <input type="email" class="w-100 bg-white text-para fw-bold outline-0" placeholder="Email">
                        <img src="~/images/mail-gray.svg" alt="Icon">
                    </div>
                    <div class="form-group position-relative mb-20">
                        <img src="~/images/user-gray.svg" alt="Icon">
                        <select class="w-100 bg-white text-para fw-bold outline-0 custom-select-field">
                            <option value="0">Select Travel Type</option>
                            <option value="1">Solo Trip</option>
                            <option value="2">Couple Trip</option>
                            <option value="3">Corporate Trip</option>
                        </select>
                    </div>
                    <div class="form-group position-relative mb-20">
                        <input type="date" class="w-100 bg-white text-para fw-bold outline-0">
                        <img src="~/images/calendar-gray.svg" alt="Icon">
                    </div>
                    <div class="form-group position-relative mb-20">
                        <input type="time" class="w-100 bg-white text-para fw-bold outline-0">
                        <img src="~/images/clock-gray.svg" alt="Icon">
                    </div>
                    <button class="btn style-three fs-xxl-18">Make Appointment</button>
                </form>
            </div>
        </div>
        <img src="~/images/feature-img-14.png" alt="Image" class="feature-img position-absolute bottom-0 sm-none">
    </div>
</div>
