<!-- Breadcrumb section Start -->
<div class="breadcrumb-area bg-peach position-relative z-1">
    <img src="~/images/br-line-shape-2.png" alt="Shape" class="br-line-shape position-absolute z-n1">
    <img src="~/images/br-shape-1.png" alt="Shape" class="br-shape-one move-right position-absolute z-n1">
    <img src="~/images/br-shape-2.png" alt="Shape" class="br-shape-two move-left position-absolute z-n1">
    <img src="~/images/br-bg-shape.png" alt="Shape" class="br-bg-shape position-absolute bottom-0 start-0">
    <div class="container text-center">
        <h2 class="section-title style-two">Pricing Plan</h2>
        <ul class="br-menu list-unstyled mb-0">
            <li><a>Home</a></li>
            <li>Membership Plan</li>
        </ul>
    </div>
</div>
<!-- Breadcrumb section End -->
<!-- Pricing Plan Section Start -->
<div class="container style-one pt-120 pb-90">
    <div class="row">
        <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2">
            <h2 class="section-title style-one text-center mb-50">Discover Your Perfect Journey</h2>
        </div>
    </div>
    <div class="row justify-content-center gx-xxl-25">
        <div class="col-xl-4 col-md-6">
            <div class="pricing-card style-one transition mb-30">
                <h5 class="fs-24 text-center fw-bold mb-0 transition">Basic <br> Plan</h5>
                <h2 class="price-tag text-center text_primary transition"><span>₹</span>99,999</h2>
                <h6 class="text-center transition">Validity for 3 years</h6>
                <ul class="feature-list list-unstyled d-inline-block">
                    <li class="position-relative fw-medium font-secondary d-flex flex-wrap align-items-center"><span class="d-flex flex-column align-items-center justify-content-center rounded-circle position-relative bg-white transition"><img src="~/images/check.svg" alt="Icon"></span>Only India</li>
                    <li class="position-relative fw-medium font-secondary d-flex flex-wrap align-items-center"><span class="d-flex flex-column align-items-center justify-content-center rounded-circle position-relative bg-white transition"><img src="~/images/check.svg" alt="Icon"></span>Every Year 6N 7D</li>
                    <li class="position-relative fw-medium font-secondary d-flex flex-wrap align-items-center"><span class="d-flex flex-column align-items-center justify-content-center rounded-circle position-relative bg-white transition"><img src="~/images/check.svg" alt="Icon"></span>Only Accommodation</li>
                    <li class="position-relative fw-medium font-secondary d-flex flex-wrap align-items-center"><span class="d-flex flex-column align-items-center justify-content-center rounded-circle position-relative bg-white transition"><img src="~/images/check.svg" alt="Icon"></span>4 Star hotels</li>
                    <!-- <li class="position-relative fw-medium font-secondary d-flex flex-wrap align-items-center"><span class="d-flex flex-column align-items-center justify-content-center rounded-circle position-relative bg-white transition"><img src="~/images/check.svg" alt="Icon"></span></li> -->
                </ul>
                <img src="~/images/down-large-arrow.svg" alt="Icon" class="down-arrow d-block mx-auto">
                <a href="#" class="btn style-two text-center">Subscribe Now</a>
            </div>
        </div>
        <div class="col-xl-4 col-md-6">
            <div class="pricing-card style-one transition mb-30">
                <h5 class="fs-24 text-center fw-bold mb-0 transition">Premium  <br> plans</h5>
                <h2 class="price-tag text-center text_primary transition"><span>₹</span>1,50,000</h2>
                <h6 class="text-center transition">Valid for 5 Years</h6>
                <ul class="feature-list list-unstyled d-inline-block">
                    <li class="position-relative fw-medium font-secondary d-flex flex-wrap align-items-center"><span class="d-flex flex-column align-items-center justify-content-center rounded-circle position-relative bg-white transition"><img src="~/images/check.svg" alt="Icon"></span>India + Asian Countries</li>
                    <li class="position-relative fw-medium font-secondary d-flex flex-wrap align-items-center"><span class="d-flex flex-column align-items-center justify-content-center rounded-circle position-relative bg-white transition"><img src="~/images/check.svg" alt="Icon"></span>Every Year 6N 7D</li>
                    <li class="position-relative fw-medium font-secondary d-flex flex-wrap align-items-center"><span class="d-flex flex-column align-items-center justify-content-center rounded-circle position-relative bg-white transition"><img src="~/images/check.svg" alt="Icon"></span> Only Accommodation</li>
                    <li class="position-relative fw-medium font-secondary d-flex flex-wrap align-items-center"><span class="d-flex flex-column align-items-center justify-content-center rounded-circle position-relative bg-white transition"><img src="~/images/check.svg" alt="Icon"></span> 4 Star properties</li>

                </ul>
                <img src="~/images/down-large-arrow.svg" alt="Icon" class="down-arrow d-block mx-auto">
                <a href="#" class="btn style-two text-center">Subscribe Now</a>
            </div>
        </div>
        <div class="col-xl-4 col-md-6">
            <div class="pricing-card style-one transition mb-30">
                <h5 class="fs-24 text-center fw-bold mb-0 transition">ULTIMATE <br> Plan</h5>
                <h2 class="price-tag text-center text_primary transition"><span>₹</span>3,50,000</h2>
                <h6 class="text-center transition">Valid for 10 Years</h6>
                <ul class="feature-list list-unstyled d-inline-block">
                    <li class="position-relative fw-medium font-secondary d-flex flex-wrap align-items-center"><span class="d-flex flex-column align-items-center justify-content-center rounded-circle position-relative bg-white transition"><img src="~/images/check.svg" alt="Icon"></span>India + Asian Countries</li>
                    <li class="position-relative fw-medium font-secondary d-flex flex-wrap align-items-center"><span class="d-flex flex-column align-items-center justify-content-center rounded-circle position-relative bg-white transition"><img src="~/images/check.svg" alt="Icon"></span>Every Year 6N 7D</li>
                    <li class="position-relative fw-medium font-secondary d-flex flex-wrap align-items-center"><span class="d-flex flex-column align-items-center justify-content-center rounded-circle position-relative bg-white transition"><img src="~/images/check.svg" alt="Icon"></span>Only Accommodation</li>
                    <li class="position-relative fw-medium font-secondary d-flex flex-wrap align-items-center"><span class="d-flex flex-column align-items-center justify-content-center rounded-circle position-relative bg-white transition"><img src="~/images/check.svg" alt="Icon"></span> 4 Star properties</li>

                </ul>
                <img src="~/images/down-large-arrow.svg" alt="Icon" class="down-arrow d-block mx-auto">
                <a href="#" class="btn style-two text-center">Subscribe Now</a>
            </div>
        </div>
    </div>
</div>
<!-- Pricing Plan Section End -->
<!-- Feature Section Start -->
<div class="feature-area style-one pb-120">
    <div class="container-fluid style-one">
        <div class="row align-items-center">
            <div class="col-xxl-7 col-lg-6 pe-xxl-0 mb-md-30">
                <div class="row align-items-center">
                    <div class="col-lg-4 col-4">
                        <div class="feature-img-one mb-25">
                            <img src="https://images.unsplash.com/photo-1660885420316-914e6633e5c9?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=870" alt="Image">
                        </div>
                        <div class="feature-img-two">
                            <img src="~/images/feature-img-8.jpg" alt="Image">
                        </div>
                    </div>
                    <div class="col-lg-8 col-8">
                        <div class="feature-img-three round-5">
                            <img src="https://images.unsplash.com/photo-1719920068200-aa7e79f02f7d?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=774" alt="Image" class="round-5">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-5 col-lg-6 ps-xl-4">
                <div class="feature-content">
                    <h2 class="section-title style-one mb-25">Sometimes, all you need is a breath of fresh air and a new view</h2>
                    <ul class="feature-list style-two list-unstyled">
                        <li class="fs-xxl-18 round-5 fw-bold text-title"><img src="~/images/check-orange.svg" alt="Icon">Trust And Safety</li>
                        <li class="fs-xxl-18 round-5 fw-bold text-title"><img src="~/images/check-orange.svg" alt="Icon">Best Price Guarantee</li>
                        <li class="fs-xxl-18 round-5 fw-bold text-title"><img src="~/images/check-orange.svg" alt="Icon">Easy & Quick Booking</li>
                        <li class="fs-xxl-18 round-5 fw-bold text-title"><img src="~/images/check-orange.svg" alt="Icon">Best Travel Agents</li>
                    </ul>
                    <h6 class="fs-20 fw-bold mb-20">A change of scenery brings new energy</h6>
                    <p class="mb-30 fw-bold">Whether it’s a peaceful walk in the park or an adventure into the wild, the world outside reminds us how beautiful it feels to just breathe</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Feature Section End -->
